<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Version Management System - Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
</head>
<body>
    <script>
        // send command once, data is a single object
        function sendCommandToOne(command, id, time){
            id = id.substring(1);
            var url = window.location.origin + '/command/' + id;
            sendCommand(command, url, time);
        }
        // send many commands, data is a list of objects
        function sendCommandToAll(command, time){
            var url = window.location.origin + '/command';
            sendCommand(command, url, time);
        }
        function sendCommand(command, url, time){
            var commandPayload = {command: command, time: time};
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(commandPayload),
                contentType: "application/json",
                dataType: 'json'
            })
        }

        var data = [];
        $.ajax({
            type: 'GET',
            url: window.location.origin + '/agents',
            contentType: "application/json",
            dataType: 'json',
            async: false,
            success: function(d) {
                $.each(d, function(key, value) {
                    console.log(value);
                    var agent = [];
                    agent['id'] = value['id'];
                    agent['hostname'] = value['hostname'];
                    agent['osName'] = value['osName'];
                    agent['osVersion'] = value['osVersion'];
                    agent['packages'] = value['packages'];
                    data.push(agent);
                });
            }
        });
    </script>
    <!-- Heading container -->
    <div class="container-fluid">
        <h1 style="text-align: center">Package Version Management System (PaVMaS)</h1>
        <h1 style="text-align: center">Main Page</h1>
    </div>
    <!-- Button container -->
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="sendCommandToAll('log_now', null)">Log All Now</button>
            <button type="button" class="btn btn-primary" onclick="sendCommandToAll('change_log_time_interval', prompt('Enter new log time'))">Set Log Time For All</button>
            <button type="button" class="btn btn-primary" onclick="location.href = 'outofsync'">View Out of Sync Package Versions</button>
        </div>
    </div>
    <!-- Agent data container -->
    <div class="container">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Agent ID</th>
                    <th>Host Name</th>
                    <th>OS Name</th>
                    <th>OS Version</th>
                    <th>Log Now</th>
                    <th>Change Log Time</th>
                </tr>
            </thead>
            <tbody id="host_content">
            </tbody>
        </table>
    </div>
    <!-- Package lists container -->
    <div class="container-fluid">
        <div class="container testimonial-group">
                <div class="row flex-nowrap" id="packages">

                </div>
        </div>
    </div>
    <script>
        // Construct table of agent data
        var tablecontents = "";
        for (var i = 0; i < data.length; i++) {
            var logButton = "<button type='button' class='btn btn-primary' id='l" + data[i]['id'] + "' onclick='sendCommandToOne(\"log_now\", this.id, null)'></button>";
            var timeButton = "<button type='button' class='btn btn-primary' id='t" + data[i]['id'] + "' onclick='sendCommandToOne(\"change_log_time_interval\", this.id, prompt(\"Enter new log time\"))'></button>";
            tablecontents += "<tr>";
            tablecontents += "<td>" + data[i]["id"] + "</td>";
            tablecontents += "<td>" + data[i]["hostname"] + "</td>";
            tablecontents += "<td>" + data[i]["osName"] + "</td>";
            tablecontents += "<td>" + data[i]["osVersion"] + "</td>";
            tablecontents += "<td>" + logButton + "</td>";
            tablecontents += "<td>" + timeButton + "</td>";
            tablecontents += "</tr>";
        }
        document.getElementById("host_content").innerHTML += tablecontents;

        // Construct table of package lists
        tablecontents = "";
        for (i = 0; i < data.length; i++){
            tablecontents += "<div class='col-3 col-md-auto'><h2>Agent " + data[i]["id"] + "</h2><table class='table table-sm'><thead><tr><th>Name</th><th>Version</th></tr></thead>";
            tablecontents += "<tbody id='agent_" + data[i]['id'] + "'>";
            var packageList = data[i]["packages"];
            for (var j = 0; j < packageList.length; j++){
                tablecontents += "<tr>";
                tablecontents += "<td>" + packageList[j]["name"] + "</td>";
                tablecontents += "<td>" + packageList[j]["version"] + "</td>";
                tablecontents += "</tr>";
            }
            tablecontents += "</tbody></table></div>"
        }
        document.getElementById("packages").innerHTML += tablecontents;
    </script>
</body>
</html>